.list__club {
  padding-bottom: 10px;
  border: solid 2px #9b3e73;
  width: 70vw;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  background-color: #c1e3ff;
}
.name__club {
  font-size: 20px;
  color: #a52172;
}
.main__section {
  background-color: #e0bee5;
  border: solid 4px #c1e3ff;
  width: 70vw;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
